<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @sandbox.name %>
</p>
<p>
  <strong>Git repository URL:</strong>
  <%= @sandbox.git_public_repository_url %>
</p>
<p>
  <strong>App URL:</strong>
  <%= link_to 'View App', @sandbox.app_url, target: "_blank", rel: "nofollow" %>
</p>

<%= button_to "Deploy", deploy_sandbox_url(@sandbox) %>

<%= link_to 'Back', sandboxes_path %>

<div class="editor debug-position">
  <%= tag.aside(data: { controller: 'hello' }) do %>
    <ul>
      <% @files.each do |file| %>
        <%= tag.li(file, data: { action: 'click->hello#open', filename: file }) %>
      <% end %>
    </ul>
  <% end %>

  <main id="file" class="debug-position">
    <section id='editor'>

    </section>
  </main>  
</div>
